//estilos generales  
*{  margin: 0;
    padding: 0;
}

a:hover{
    color: blanchedalmond;
    background-color: nth($list: $colores-texto, $n:3 );
    border: 2px solid nth($list: $colores-texto, $n:3);
}

.focus:focus{
    border: 2px solid nth($list: $colores-texto, $n:4);
    outline: 1px ;
}

@font-face {
    font-family: robotos;
    src: url(./../assets/fonts/Roboto-BoldItalic.ttf);
}

html{
    color: black;
    font-family: robotos;
    font-weight: 400;
    font-style:inherit;  
}
