//estilos generales  
*{  margin: 0;
    padding: 0;
}

a:hover{
    color: blanchedalmond;
    background-color: darksalmon;
    border: 2px solid darksalmon;
}

.focus:focus{
    border: 2px solid coral;
    outline: 1px ;
}

@font-face {
    font-family: robotos;
    src: url(./../assets/fonts/Roboto-BoldItalic.ttf);
}

html{
    color: black;
    font-family: robotos;
    font-weight: 400;
    font-style:inherit;  
}
